body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #05284e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #05284e;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}